@media all{
    img, table, tr, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
        max-width: 100%;
    }
    
    .iut{
        max-width: 100%;
        height: auto;
    }
    
    table{
        text-align: center;
    }
    
    td{
        display: block;
    }
}