html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

h1{
    font-size: 2.5rem;
}

.titre{
    font-size: 8vw;   
}

.p1{
    background: blue;
}

.p2{
    background: white;
}

.p3{
    background: red;
}

.iut{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}