body{
    font-size: 16px;
}

h1{
    font-size: 1.5em;
}

.titre{
    font-size: 8em;   
}

.p1{
    background: blue;
}

.p2{
    background: white;
}

.p3{
    background: red;
}

.iut{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}