/*TABLETTE*/
@media screen and (max-width: 1025px) and (min-width: 759px){
    .logo{
        display: block;
        margin-right: auto;
        margin-left:auto;
    }
    
    menu{
        display:block;
        width: 100%;
        text-align: center;
    }
    
    .map{
        max-width: 100%;
        vertical-align: middle;
    }
    
    .map_form{
        display: flex;
        flex-wrap: wrap;
        flex-direction : column;
    }
    
    .gauche{
        display: block;
        width: 100%;
        float: left;
    }

    .separation{
        display:none;
    }

    .droite{
        display: block;
        width: 100%;
        float: left;
    }
    
}

/*MOBILE*/
@media screen and (max-width: 760px){
    .logo{
        display: block;
        vertical-align: middle;
        margin-right: auto;
        margin-left:auto;
    }
    
    menu{
        display:none;
    }
    
    .btnMenu{
        display: block;
    }
    
    .btnMobile{
        display: block;
    }
    
    .first_line{
        display: inline-block;
    }
    
    .map{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .map_form{
        display: flex;
        flex-wrap: wrap;
        flex-direction : column;
        width: 100%;
    }
    
    .gauche{
        display: block;
        width: 100%;
        text-align: center;
    }

    .separation{
        display:none;
    }

    .droite{
        display: block;
        width: 100%;
        text-align: center;
    }

    .envoie{
           width: 88%;
    float: right;
    margin-right: 6%;
    margin-top: 2%;
    }
    
}