body {
background-image:url('../images/background.png');
background-repeat:repeat;
}

menu{
    display: block;
    margin-top : 3%;
    float:right;
}

.btnMenu{
    display:none;
    float:left;
}

.btnMobile{
    display:none;
    float:right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    height: 15px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.une_image{
    width: 100%;
    height: auto;
}

.images{
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-around;
    
    flex-wrap: wrap;

}

.second_part{
    width: 100%;
}

.gauche{
    display: block;
    width: 50%;
    height: 700px;
    float: left;
}

.droite{
    display: block;
    width: 50%;
    height: 700px;
    float: left;
}

input{
    margin-bottom: 2%;
}

.map{
    width: 90%;
    height: 500px;
}



.prenom, .nom, .date, .ville{
    width: 40%;
}

.nom, .ville{
    margin-left: 3%;
}

.email, .photo, textarea{
    width: 85%;
}

textarea{
    height : 350px;
}

.envoie{
    width: 25%;
    float: right;
    margin-right: 14%;
    margin-top: 2%;
}

footer{
    width: 100%;
    text-align: right;
}

