menu{
    display: block;
    float:right;
}

.une_image{
    width: 100%;
    height: auto;
}

table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.second_part{
    width: 100%;
}

.gauche{
    display: block;
    width: 50%;
    height: 1000px;
    float: left;
}

.droite{
    display: block;
    width: 50%;
    height: 1000px;
    float: left;
}

input{
    margin-bottom: 2%;
}

#map{
    width: 600px;
    height: 600px;
}

.prenom, .nom, .date, .ville{
    width: 40%;
}

.nom, .ville{
    margin-left: 3%;
}

.email, .photo, textarea{
    width: 85%;
}

footer{
    width: 100%;
    text-align: right;
}